.link {
font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
text-align: left;
font-size: 12pt
color: #06214c;
}
#response {
    font-weight: bold;
    font-size: 18px;
    font-family: Verdana;
    color: #000;
}
